body{
    background-color: #000000 !important;
    overflow-y: hidden;

  }
 
*, *::before, *::after {
	box-sizing: border-box;
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.admin-login-sec {
	position: relative;
	z-index: 0;
	margin: 20px;
	border-radius: 10px;
	overflow: hidden;
	padding: 1rem;
	
	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-image: conic-gradient(transparent, rgba(123, 87, 223, 0.37), transparent 30%);
		animation: rotate 6s linear infinite;     
	}
	
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		background: #000;
		border-radius: 5px;
	}
}

.login-back-img{
    background-image: url(../../../../public/images/signinimg.svg);
    background-size: auto;
    background-repeat: no-repeat;
}

.error-msg{
    width: 100%;
}

